<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>XMovies - {{title}}</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
  <!-- Font Awesome icons (free version)-->
  <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
  <!-- Google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
  <!-- Core theme CSS (includes Bootstrap) NOTE in nestjs u need to add / in front of href local files?-->
  <link href="/css/styles.css" rel="stylesheet" />
  <link href="/css/main.css" rel="stylesheet" />
</head>
<body id="page-top">
  <section>
    <div class="container" >
      <h1>Log In</h1>
      <form>
        <div class="form-group">
          <label for="username">Username:</label><br/>
          <input type="text" class="form-control" name="username" id="username" placeholder="Username" /><br/>
        </div>
        <div class="form-group">
          <label for="password">Password:</label><br/>
          <input type="password" class="form-control" name="password" id="password" placeholder="Password" /><br/>
          <input type="submit" value="submit" id="submit" class="btn btn-primary add-margin-top"/>
        </div>
      </form>
    </div>
  </section>

  <script>
    document.querySelector('#submit').addEventListener('click',(e) => {
      e.preventDefault();//to prevent form launching submit function

      const username = document.querySelector('#username');
      const password = document.querySelector('#password');
      if(!username.value || !password.value){
        alert('User Pass empty');
        return;
      }

      const data = {
        username: username.value,
        password: password.value
      }

      fetch('/auth/login',{
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
      })
      .then(response => response.json())
      .then(data =>{
        if(data.access_token){
          window.location.href='/profile';
        }
      })

    })
  </script>


</body>
</html>
